body {
  margin: 0;
  background-color: white;
}

code {
  white-space: pre;
}

h2 {
  text-align: center;
}

h1 {
  padding-top: 20px;
}

img {
  width: 50%;
  display: flex;
  margin: 0 auto;
}

textarea {
  height: 90vh;
  width: 80%;
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  width: 400px;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid lightblue;
}

.sidebar h2 {
  margin-top: 5px;
}

.entry {
  border: 3px solid lightblue;
  padding: 20px;
  margin-right: 16px;
}

.entry img {
  max-width: 300px;
}
